.subPage{
  .resourceHeader{
  }
}
#users{

}

#createEvent{
  .datePickerWrapper{
    a{
      color: $primary;
      transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
      padding: 0.5rem;
      display: inline-block;
      cursor: pointer;
      line-height: 1;
      border-radius: 0.25rem;
      margin-top: 0.5rem;
      background: $primary;
      color: white;
      &:hover{
        background: $highlight;
        color: $primary;
      }
    }
  }
  .control > p{
    margin-bottom: 3.5em;
    height: 36px;
  }
  .columns{
    margin-bottom: 0;
    .column{
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  .themeWrapper{
    img{
      // max-width: 400px;
      display: block;
      margin: 0 auto;
    }
    .swatches{
      display: flex;
      flex-direction: row;
      font-size: 0.1em;
      padding: 0;
      cursor: pointer;
      justify-content: center;
      margin-top: 1rem;
      .swatche{
        @include aspect-ratio(1);
        width: percentage(1/6);
        max-width: 5rem;
        color: transparent;
        margin: 0.1rem;
        border-radius: 0.5rem;
        margin: 0.25rem;
      }
    }
  }
  .field.has-addons{
    justify-content: center;
  }
  .workshop{
    .textarea:not([rows]) {
      min-height: 70px !important;
    }
  }
}
#preview{
  background: white;
}
#preview, #event{
  .previewHeader{
    position: relative;
    img{
    }
    h5, h4{
      position: absolute;
      margin: 0;
    }
    h5{
      bottom: 1rem;
      left: 1rem;
    }
    h4{
      top: 1rem;
      right: 1rem;
    }
  }
  .previewBody{
    padding: 1rem;
    height: calc(100vh - 397px);
    h2{
      margin-top: 0;
    }
    p{
      font-size: 1.1rem;
    }
  }
}
.subPage#preview{
  min-height: inherit;
}
#printList{
  table{
    margin-bottom: 1rem;
  }
}
