@import "../3-modules/dashboard";
#dashboard{
  #dashboardHeader{
    background: $primaryT2;
    ul{
      text-align: right;
      li{
        margin: 0;
        display: inline-block;
        a{
          display: block;
          color: white;
          font-size: 1.1em;
          text-decoration: none;
          padding: 0.5rem;
        }
      }
    }
  }
}
